.App {
  text-align: center;
}

h1 {
  font-size: 100px;
  color: #cccccc;
  margin-bottom: 0px;
}

h3 {
  margin-top: 5px;
  font-size: 30px;
  color: #cccccc;
  letter-spacing: 30px;
  margin-left: 22px;
}

div.notes {
  margin: 20px 25%;
  width: 50%;
  border: 10px solid #eeeeee;
  padding: 20px;
}

div.footer p {
  color: #cccccc;
  letter-spacing: 30px;
  margin-left: 50px;
}
